a {
    text-decoration: none;
  }
  body {
    background: -webkit-linear-gradient(bottom);
    background-repeat: no-repeat;
  }

  .primary-btn{
    background-color: #56baed;
    margin-right: 8px;
    margin-left: 8px;
  }
#d1 {
  background-color: white;
}

.invalid-mail{
  color: red;
}
