<div id="d1">
  <h2>{{ "fpemail" | translate }}</h2>
  <form [formGroup]="forgotPasswordForm">
    <input
      type="email"
      [(ngModel)]="email"
      placeholder="email"
      formControlName="email"
    />
    <div *ngIf="isSubmitted && formControls['email'].errors">
      <div *ngIf="formControls['email'].errors?.['required']">
        {{ "emailRequired" | translate }}
      </div>
    </div>
    <button
      mat-button
      class="primary-btn"
      type="submit"
      (click)="OnChangePassword()"
    >
      {{ "fdChangePassword" | translate }}
    </button>
    <div *ngIf="showErrorMessage">
      <h4 class="invalid-mail">
        {{ "invalidEmail" | translate }}
      </h4>
    </div>
  </form>
</div>
