.card {
    border: solid;
    font-size: x-large;
    font: saira;
    height: 96%;
}
mat-card {
    box-shadow: none;
}
.card-img-top {
 width:80%;
 height: 80%;
}

.primary-btn1{
  background-color: #477fff;
  margin-right: 8px;
}

.primary-btn2{
  background-color: #477fff;

}

.r_card_content {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
 }
.grid-true {
  flex-grow: 1;

}
li {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  height: 20px;
}

.divider {
  color: #aab4bb;
  margin-left: 4px;
  margin-right: 4px;
}

mat-card-actions {
    align-self: self-end;
    top: 94%;
    left: 60%;
}

