<div class="search">
  <app-search (actionBtnClicked)="onSearch($event)"></app-search>
</div>
<br />
<div class="r_card grid-true">
  <div class="r_card_content" *ngIf="!showEmpty">
    <div class="card" *ngFor="let item of items" (click)="getItems(item)">
      <mat-card class="mat-card">
        <mat-card-header>
          <div class="title">
            <mat-card-title>Apartment for rent</mat-card-title>
          </div>
        </mat-card-header>
        <div class="container">
          <div class="align-left">
            <img
              class="card-img-top img-fluid"
              [src]="item.apartmentPic"
              alt="Card image cap"
            />
          </div>
          <div class="card-content align-left">
            <mat-card-content>
              <li>
                <h5 class="card-title">{{ item.apartmentName }}</h5>
                <span class="divider">•</span>
                <h5 class="card-text">{{ item.apartmentLoc }}</h5>
                <span class="divider">•</span>
                <h5 class="card-text">{{ item.area }}</h5>
              </li>
              <li>
                <h5 class="card-text">Rooms : {{ item.rooms }}</h5>
                <span class="divider">•</span>
                <h5 class="card-text">Bathrooms : {{ item.bathrooms }}</h5>
                <span class="divider">•</span>
                <h5 class="card-text">Kitchen : {{ item.kitchen }}</h5>
              </li>
              <li>
                <h5 class="card-text">{{ item.rent }}</h5>
                <span class="divider">•</span>
                <h5 class="card-text">{{ item.securityDeposit }}</h5>
              </li>
              <li>
                <h5 class="card-text">{{ item.availableFrom }}</h5>
                <h5 class="card-text">{{ item.availableTill }}</h5>
              </li>
              <li>
                <h5 class="card-text">{{ item.apartmentDesc }}</h5>
                <br />
                <h5 class="card-text">{{ item.amenities }}</h5>
              </li>
            </mat-card-content>
          </div>
        </div>
        <mat-card-actions>
          <button type="submit" class="primary-btn1" mat-button>CONTACT</button>
          <button type="submit" class="primary-btn2" mat-button>
            DIRECTION
          </button>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
    <br />
  </div>
  <app-empty-search *ngIf="showEmpty"></app-empty-search>
</div>
