<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="This is the Sign In screen" />
    <meta name="author" content="Kajal Chellappan" />
    <title>"{{ "titleLogin" | translate }}"</title>
  </head>
  <body class="en">
    <div id="card">
      <div id="card-content" class="login">
        <i class="fa fa-user icon"></i>
        <div *ngIf="showErrorMessage">
          <h4 class="invalid-us-pw">
            {{ "invalidCredentials" | translate }}
          </h4>
        </div>
        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
          <p
            [ngClass]="{
              'has-error': isSubmitted && formControls['email'].errors
            }"
          >
            <input
              type="email"
              id="email"
              name="email"
              class="input form-control"
              placeholder="{{ 'loginEmail' | translate }}"
              [(ngModel)]="email"
              email="true"
              formControlName="email"
              required
              autofocus
            />
          </p>
          <div *ngIf="isSubmitted && formControls['email'].errors">
            <div
              class="form-error"
              *ngIf="formControls['email'].errors?.['required']"
            >
              "{{ "emailRequired" | translate }}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['email'].errors?.['email']"
            >
              "{{ "invalidEmail" | translate }}"
            </div>
          </div>
          <p
            [ngClass]="{
              'has-error': isSubmitted && formControls['password'].errors
            }"
          >
            <input
              type="password"
              id="password"
              name="password"
              class="input form-control"
              placeholder="{{ 'loginPassword' | translate }}"
              [(ngModel)]="password"
              formControlName="password"
              required
              minlength="6"
            />
          </p>
          <div *ngIf="isSubmitted && formControls['password'].errors">
            <div
              class="form-error"
              *ngIf="formControls['password'].errors?.['required']"
            >
              "{{ "passwordRequired" | translate }}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['password'].errors?.['minlength']"
            >
              "{{ "maxPasswordLength" | translate }}"
            </div>
          </div>
          <div class="form-group btn-container">
            <button class="submit" type="submit">
              {{ "loginSignIn" | translate }}
            </button>
            <a href="#" routerLink="/forgotPassword">
              <legend id="forgot-pass">
                {{ "loginForgotPassword" | translate }}
              </legend>
            </a>
            <button type="button" class="submit" (click)="toSignup('signup')">
              {{ "loginRegister" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
