
.Rooms input[type=number]{
  width: 70px;
}

.Rooms{
  margin: 8px 0 8px 0;
}

.form-control{
display: inline-block;
}

.r_card {
  background-color: #7aa2ff;
}

.upload-btn {
  position: relative;
  margin-top: 12px;
  left: 64%;
}

.date-label {
  margin-right: 8px;
}
.choose-file {
  text-align-last: right;
  position: absolute;
  left: 47%;
}

h2 {
  padding: 8px 0 0 0;
  font-weight: bold;
  font-size: 45px;
}

.add-card {
  border-style: outset;
  width: 65%;
  position: relative;
  padding: 8px;
  background-color: #e4e8ee;
}
h4 {
 margin: 0 0 0 0;
}
mat-label{
  text-align: left;
}

input[type=text]{
  position: absolute;
  left: 42%;
}
.room{
  position: relative;
  margin-right: 8px;
}
.bRoom{
  position: relative;
  left: 8px;
  margin-right: 8px;
}
.kitchen {
  position: relative;
  left: 40px;
  margin-right: 8px;
}

button {
  background-color: #56baed;
  border: none;
  padding: 15px 80px;
  text-align: center;
  text-decoration: solid;
  font-size: 15px;
  margin: 10px 10px 10px 10px;
  -webkit-text-fill-color: white;
  position: relative;
  left: 20%;
  width: 20%;
}
.cancel-btn {
    background-color: gray;
}
.date-field1 {
  margin-right: 8px;
}
