<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logobox">
      <a href=""><img src="./assets/THD-Logo.png" height="50" /></a>
    </div>
    <span class="spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="false"
      fxShow.lt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div fxShow="true" fxHide.lt-sm>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    </div>
    <span class="spacer"></span>
    <app-select-language></app-select-language>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fullscreen>
    <mat-nav-list>
      <a
        href="#"
        id="logout-opt"
        mat-list-item
        (click)="sidenav.toggle(); removeLogout()"
        routerLink="/login"
        class="logout no-display"
        >Logout</a
      >
      <a
        href="#"
        id="login-opt"
        class="login"
        (click)="sidenav.toggle()"
        mat-list-item
        routerLink="/login"
        >LogIn</a
      >
      <a
        href="#"
        id="dashboard-opt"
        class="dashboard no-display"
        (click)="sidenav.toggle(); addLoginNav()"
        mat-list-item
        routerLink="/dashboard"
        >Search without Login</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="background-img main sn-content"
    ><router-outlet></router-outlet
  ></mat-sidenav-content>
</mat-sidenav-container>
