  .flexSpaceBetween {
    justify-content: space-around;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .logobox {
    position: absolute;
    top: 15px !important;
    margin-top: 5px !important;
  }
.no-display{
  display: none;
}
.background-img {
  background-image: url('/assets/acc07.jpg');
  background-size: cover;
}
