a {
    text-decoration: none;
  }
  body {
    background: -webkit-linear-gradient(bottom);
    background-repeat: no-repeat;
    background-color: unset;
    font-family: 'Saira';
  }

  #forgot-pass {
    color:grey;
    margin-top: 3px;
    text-align: right;
    font-size: medium;
    color: #56baed;
  }
  #card {
    background: white;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 420px;
    margin: 4rem auto 7.1rem auto;
    width: 420px;
    position: relative;
    right: 29%;
    top: 50px;
  }
  .submit{
    background-color: #56baed;
      border: none;
      color: white;
      padding: 15px 80px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      margin: 10px 10px 10px 10px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      left: 90px;
      width: 50%;
  }
  .login input[type=email], .login input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 15px;
    width: 90%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
  }
  .login .icon {
    position: relative;
    padding: 5px 5px;
    font-size: -webkit-xxx-large;
    margin: 5px 5px;
    color: white;
    background-color: #56baed;
    left: 45%;
  }

  .far {
    font-weight: 400;
  }
  .fa, .fas, .far, .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
#d1 {
  margin-left: 1em;
}

.form-error {
  color: red !important;

}

.has-error {
  margin-bottom: 5px;
}

.invalid-us-pw{
  color: red;
  text-align: center;
}

