<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="This is the Sign Up screen" />
    <meta name="author" content="Kajal Chellappan" />
    <title>{{ "titleRegister" | translate }}</title>
  </head>
  <body>
    <div id="card">
      <div id="card-content" class="signup">
        <i class="fa fa-user icon"></i>
        <form
          class="form-signup"
          method="post"
          class="form"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="sendSignup(f.value)"
          #f="ngForm"
          novalidate
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              [(ngModel)]="form.username"
              placeholder="{{ 'loginUsername' | translate }}"
              required
              autofocus
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors['required']">
                "{{ "usernameRequired" | translate }}"
              </div>
              <div *ngIf="username.errors['minlength']">
                "{{ "minUsername" | translate }}"
              </div>
              <div *ngIf="username.errors['maxlength']">
                "{{ "maxUsername" | translate }}"
              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              placeholder="{{ 'loginEmail' | translate }}"
              required
              email
              #email="ngModel"
            />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors['required']">
                "{{ "emailRequired" | translate }}"
              </div>
              <div *ngIf="email.errors['email']">
                "{{ "validEmail" | translate }}"
              </div>
            </div>
          </div>
          <br />
          <div class="form-group form-border"></div>
          <div>
            <input
              type="password"
              id="password"
              name="password"
              class="input form-control"
              placeholder="{{ 'loginPassword' | translate }}"
              required
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors['required']">
                "{{ "passwordRequired" | translate }}"
              </div>
              <div *ngIf="password.errors['minlength']">
                "{{ "maxPasswordLength" | translate }}"
              </div>
            </div>
          </div>
          <br />
          <div class="form-group form-border buttons">
            <button type="submit" class="signup_btn">
              {{ "signUpButton" | translate }}
            </button>
            <button type="submit" class="login_btn" (click)="toLogin()">
              {{ "loginSignIn" | translate }}
            </button>
          </div>
          <div
            class="alert alert-warning"
            *ngIf="f.submitted && isSignUpFailed"
          >
            "{{ "signupFailed" | translate }}"<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          "{{ "successRegistration" | translate }}"
        </div>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
