<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="This is the Sign Up screen" />
    <meta name="author" content="Kajal Chellappan" />
    <title>{{'titleRegister'|translate}}</title>
  </head>
  <body>
    <div id="card">
      <div id="card-content" class="signup">
        <i class="fa fa-user icon"></i>
        <form
          class="form form-signup"
          [formGroup]="signupForm"
          (ngSubmit)="sendSignup(f.value)"
          #f="ngForm"
        >
          <p
            [ngClass]="{ 'has-error': isSubmitted && formControls['username'].errors }"
          >
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              [(ngModel)]="form.username"
              placeholder="{{'loginUsername'|translate}}"
              required
              autofocus
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
          </p>
          <div *ngIf="isSubmitted && formControls['username'].errors">
            <div
              class="form-error"
              *ngIf="formControls['username'].errors?.['required']"
            >
              "{{'usernameRequired'|translate}}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['username'].errors?.['minlength']"
            >
              "{{'minUsername'|translate}}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['username'].errors?.['maxlength']"
            >
              "{{'maxUsername'|translate}}"
            </div>
          </div>
          <p
            [ngClass]="{ 'has-error': isSubmitted && formControls['email'].errors }"
          >
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="form.email"
              placeholder="{{'loginEmail'|translate}}"
              required
              email
              #email="ngModel"
            />
          </p>
          <div *ngIf="isSubmitted && formControls['email'].errors">
            <div
              class="form-error"
              *ngIf="formControls['email'].errors?.['required']"
            >
              "{{'emailRequired'|translate}}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['email'].errors?.['email']"
            >
              {{'validEmail'|translate}}"
            </div>
          </div>
          <p
            [ngClass]="{ 'has-error': isSubmitted && formControls['password'].errors }"
          >
            <input
              type="password"
              id="password"
              name="password"
              class="input form-control"
              placeholder="{{'loginPassword'|translate}}"
              required
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
            />
          </p>
          <div *ngIf="isSubmitted && formControls['password'].errors">
            <div
              class="form-error"
              *ngIf="formControls['password'].errors?.['required']"
            >
              "{{'passwordRequired'|translate}}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['password'].errors?.['minlength']"
            >
              "{{'minPassword'|translate}}"
            </div>
            <div
              class="form-error"
              *ngIf="formControls['password'].errors?.['maxlength']"
            >
              "{{'maxPassword'|translate}}"
            </div>
          </div>
          <br />
          <div class="form-group form-border"></div>
          <button type=" submit" class="signup_btn">
            {{'signUpButton'|translate}}
          </button>
          <div
            class="alert alert-warning"
            *ngIf="f.submitted && isSignUpFailed"
          >
            "{{'signupFailed'|translate}}"<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          "{{'successRegistration'|translate}}"
        </div>
      </div>
    </div>
  </body>
</html>
