<div class="r_card">
  <h2>{{ "addCard" | translate }}</h2>
  <h4>{{ "addDetails" | translate }}</h4>
  <form
    [formGroup]="addCardForm"
    (ngSubmit)="addCard(f.value)"
    #f="ngForm"
    class="add-card"
    novalidate
  >
    <p>
      <mat-label>{{ "apartmentName" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="apartmentName"
        name="apartmentName"
        placeholder="{{ 'apartmentName' | translate }}"
        formControlName="apartmentName"
      />
    </p>
    <p>
      <mat-label>{{ "apartmentDesc" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="apartmentDesc"
        name="apartmentDesc"
        placeholder="{{ 'apartmentDesc' | translate }}"
        formControlName="apartmentDesc"
      />
    </p>
    <p>
      <mat-label>{{ "apartmentPic" | translate }}</mat-label>
      <input
        type="text"
        name="apartmentPic"
        (change)="getName(name.value)"
        #name
      />
      <input
        class="choose-file"
        type="file"
        (change)="getFile($event)"
        formControlName="apartmentPic"
      /><br />
    </p>
    <p>
      <mat-label>{{ "apartmentLoc" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="apartmentLoc"
        placeholder="{{ 'apartmentLoc' | translate }}"
        formControlName="apartmentLoc"
      />
    </p>
    <div class="Rooms">
      {{ "NoOfRooms" | translate }}<br />
      <mat-label class="room">{{ "rooms" | translate }}</mat-label>
      <input
        name="rooms"
        type="number"
        value="{{ rooms }}"
        class="form-control room"
        formControlName="rooms"
      />
      <mat-label class="bRoom">{{ "bathrooms" | translate }}</mat-label>
      <input
        name="bathrooms"
        type="number"
        value="{{ bathrooms }}"
        class="form-control bRoom"
        formControlName="bathrooms"
      />
      <mat-label class="kitchen">{{ "kitchen" | translate }}</mat-label>
      <input
        name="kitchen"
        type="number"
        value="{{ kitchen }}"
        class="form-control kitchen"
        formControlName="kitchen"
      />
    </div>
    <p>
      <mat-label>{{ "amenities" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="amenities"
        placeholder="{{ 'amenities' | translate }}"
        formControlName="amenities"
      />
    </p>
    <p>
      <mat-label>{{ "area" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="area"
        placeholder="{{ 'area' | translate }}"
        formControlName="area"
      />
    </p>
    <p>
      <mat-label>{{ "rent" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="rent"
        placeholder="{{ 'rent' | translate }}"
        formControlName="rent"
      />
    </p>
    <p>
      <mat-label>{{ "securityDeposit" | translate }}</mat-label>
      <input
        type="text"
        [(ngModel)]="securityDeposit"
        placeholder="{{ 'securityDeposit' | translate }}"
        formControlName="securityDeposit"
      />
    </p>
    <mat-label class="date-label">{{ "availableFrom" | translate }}</mat-label>
    <mat-form-field class="date-field1" appearance="fill">
      <mat-label>{{ "chooseDate" | translate }}</mat-label>
      <input
        name="availableFrom"
        matInput
        [matDatepicker]="picker1"
        formControlName="availableFrom"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-label class="date-label">{{ "availableTill" | translate }}</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>{{ "chooseDate" | translate }}</mat-label>
      <input
        name="availableTill"
        matInput
        [matDatepicker]="picker2"
        formControlName="availableTill"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <p>
      <button mat-button type="submit">{{ "add" | translate }}</button>
      <button class="cancel-btn" mat-button (click)="moveToDashboard()">
        {{ "cancel" | translate }}
      </button>
    </p>
  </form>
</div>
<router-outlet></router-outlet>
