#message {
  width: 30vw;
  background-color: #e4e8ee;
}

.primary-btn{
  background-color: #081d43;
  --mdc-text-button-label-text-color: #e4e8ee;
  margin-right: 8px;
}
.chat {
  background-image: url('/assets/chat01.jpg');
  background-size: cover;
}

h1 {
  color: #e4e8ee;
}
